@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Lobster&family=Ubuntu:wght@300;400;500&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'ubuntu';
}
html {
    font-size: 62.5%;
}

/* ################################ UTILITY CLASSES ################################ */
.container {
    max-width: 870px;
    width: 90%;
    margin: auto;
}
.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    padding: 0.5em 1.8em;
    text-decoration: none;
    outline: none;
    margin-bottom: 1em;
}
/* ############################### NAVBAR STYLING ############################### */

.navbar input[type='checkbox'],
.navbar .hamburgur-lines {
    display: none;
}
.navbar {
    box-shadow: 0px 5px 10px 0px black;
    position: fixed;
    width: 100%;
    opacity: 0.85;
    z-index: 100;
    background-color: white;
}
.logo {
    font-family: 'Boogaloo','cursive'; 
}
.navbar-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 5.5rem;
    justify-content: center;
}
.menu-items {
    display: flex;
    flex-direction: row;
    flex: 2;
    justify-content: flex-end;
    margin-right: 12rem;
    font-family: 'Boogaloo','cursive';
    font-size: 2.5rem;
    letter-spacing: none;
}
.menu-items li {
    list-style: none;
    margin-left: 1.2rem;
    font-size: 2.5rem;
}
.menu-items a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover {
    color: darkgreen;
}
.navbar-container h1 {
    font-size: 3rem;
    flex: 1;
    margin-left: 3.5em;

}
/* ##################################### HEADER DETAIL ############################### */

.header {
    background: url(./img/img.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 60vh;
    background-size: cover;
    position: relative;
}
.header-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.226));
    color: white;
}
.header-h1 {
    margin: 0.5em ;  
    font-size: 2.5rem; 
    letter-spacing: 0.2rem;
}
.header-h3 {
    margin-bottom: 0.8em;
    font-size: 2rem;
    font-weight: 300;
}
.header-btn {
    font-size: 1.2rem;
}
/* ################################# ABOUT US ####################################### */
#about {
    background-image: linear-gradient(135deg, #789f0cc9 10%, #acbb78cb 100%);
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
}
#about h2 {
    margin: 2em 0 0.6em 1.6em;
    border-bottom: 3px solid black;
    padding-bottom: 0.3em;
    display: inline-block;
}
.about-h1 {
    margin-left: 2em;
    line-height: 2em;
    font-size: 1.3rem
}
.about-p {
    margin: 1em 0.7em 2em 2em;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
}
.about-img {
    height: 30rem;
    width: 30rem;
}
.about-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 2em;
}
#about .about-1 {
    margin-right: 5em;
}
/* ############################# TYPES ####################################### */
.types-img {
    height: 28rem;
    width: 28rem;
    position: relative;
}
.text-dist {
    letter-spacing: 0.09em;
}
.head-font {
    font-size: x-large;
}
.container h1 {
    font-size: x-large;
}
.types{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 4em;
}
.types-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.typesofood h1 {
    text-align: center;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 0;
    z-index: 2;
    transition: all 2s ease-in;
}
.overlay h2 {
    letter-spacing: 0.1rem;
}
.overlay input {
    margin: 0.5rem;
    padding: 0.5rem;
}
.types-img:hover .overlay {
    opacity: 1;
}
.types-img::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.575);
    opacity: 0;
    z-index: 1;
    /* transition: opacity ease; */
}
.types-img:hover::after {
    opacity: 1;
}
.prize p {
    margin: 1em;
    font-size: small;
    letter-spacing: 0.05em;
}
.prize h3 {
    margin-left: 1em;
    font-size: small;
}
.prize h2 {
    margin-left: 0.7em;
}
/* ############################# MENU ###################################### */
.menu-img {
    height: 16rem;
    width: 16rem; 
}
.box2 .menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    margin: 1em;
}
.menu {
    display: flex;
    flex-direction: row;
    height: 63rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.5em;
    margin-bottom: 3em;
    align-content: space-between;
}
.box {
    width: 48%;
    height: 18.5rem;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(135deg, #789f0cc9 10%, #acbb78cb 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}
/* .box1 {
    width: 50%;
    border: 2px solid orange;
} */
.prize {
    margin-left: 2em;
    margin-top: 1em;
}
.box1 h1 {
    text-align: center;
}
/* ############################### TESTIMONIAL ################################# */
.review {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    justify-content: space-between;
}
.customer h1, .customer p {
    text-align: center;
}
.customer h1  {
    margin-top: 1em;
}
.customer {
    width: 28rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.customer p {
    margin: 1rem 1rem 1.5rem 1rem;
    letter-spacing: 0.05em;
}
.review-box h1 {
    text-align: center;
}
.review-box {
    margin-top: 3em;
    margin-bottom: 3em
}
.customer-img {
    height: 16rem;
    width: 16rem;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 59%;
    margin-bottom: 2em;
}
.customer .customer-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}
/* ################################ CONTACT PAGE ########################### */
.contact-page {
    background: url(./img/bg-img.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    width: auto;
    background-size: cover;
    background-position: center;
}
.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 4.3rem;
}
.form-image {
    height: 28.5rem;
    width: 23.5rem;
}
.form-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-page {
    height: 28.5rem;
    width: 23.5rem;
    background: linear-gradient(rgba(0, 0, 0, 0.226),rgba(0, 0, 0, 0.226));
}
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20.5rem;
}
.name input {
    width: 10rem;
}
.email input, .subject input {
    width: 20.6rem;
}
.form-page h1 {
    color: white;
    border-bottom: 3px solid white;
    padding: 0.5rem 1rem 0.3rem 1rem;
}
.form-btn {
    position: absolute;
    left: 30%;
    cursor: pointer;
    padding: 0.2em 1.5em;
}
.form {
    margin: 1em;
    position: relative;
}

/*############################# Footer ######################################*/

.footer-upper {
    background-color: #100c08;
}
.footer {
    margin-top: 5rem;
    color: white;
}
.footer-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 30rem 1.5rem 30rem;
    padding: 1rem 0 1rem 0;
}
.footer-navbar a {
    text-decoration: none;
    color: white;
    font-size: medium;
}
.related h3 {
    color: white;
}
.related {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 45rem 1.5rem 45rem;
    padding: 1rem 0 3rem 0;

}
.ref-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 1.5rem 40rem 1.5rem 40rem;
    padding-top: 2rem;
    text-align: center;
}
.footer-lower {
    background-image: linear-gradient(135deg, #789f0cc9 10%, #acbb78cb 100%);
}

/*##################################### Media ##############################*/

@media (max-width: 500px) {
    .menu-items li {
        font-size: 1.2rem;
    }
    .about-img {
        height: 17rem;
        width: 17rem;
    }
    .header-h1 {
        font-size: 2rem;
    }
    .header-h3 {
        font-size: 1.5rem;
    }
    .container h1 {
        font-size: medium;
    }
    .about-p {
        font-size: 1rem;
    }
    #about .about-1 {
        margin-right: 0;
    }
    .types-img {
        height: 20rem;
        width: 20rem;
        position: relative;
    }
    .box {
        width: auto;
    }
    .menu {
        height: 130rem;
    }
    .customer-img {
        height: 10em;
        width: 10em;
    }
    .footer-navbar {
        margin: 1.5rem 4.5rem 1rem 4.5rem;
    }
    .footer-navbar a{
        font-size: smaller;
    }
    .ref-icons {
        margin: 1rem 10rem 1rem 10rem;
    }
    .related {
        margin: 0 12rem 1rem 12rem;
    }
    .related h3 {
        font-size: smaller;
    }
}

@media (min-width: 501px) and (max-width: 800px) {

    .menu-items li {
        font-size: 1.8rem ;
    }
    .header-h1 {
        font-size: 2rem;
    }
    .header-h3 {
        font-size: 1.5rem;
    }
    .container h1 {
        font-size: medium;
    }
    .about-p {
        font-size: 1rem;
    }
    #about .about-1 {
        margin-right: 0;
    }
    .types-img {
        height: 20rem;
        width: 20rem;
    }
    .box {
        width: auto;
    }
    .menu {
        height: 130rem;
    }
    .customer-img {
        height: 10em;
        width: 10em;
    }
    .ref-icons {
        margin: 1rem 15rem 1rem 15rem;
    }
    .footer-navbar {
        margin: 1rem 10rem 1rem 10rem;
    }
    .footer-navbar a{
        font-size: smaller;
    }
    .related {
        margin: 0 19rem 1rem 19rem;
    }
    .related h3 {
        font-size: smaller;
    }
    /*.contact-page {
        height: 53vh;
    }*/
    
}

@media (min-width: 801px) and (max-width: 1024px) {

    .menu-items li {
        font-size: 2.1rem ;
    }
    .ref-icons {
        margin: 1rem 25rem 1rem 25rem;
    }
    .footer-navbar {
        margin: 1rem 15rem 1rem 15rem;
    }
    .related {
        margin: 0 29rem 1rem 29rem;
    }
    /*.contact-page {
        height: 28vh;
    }*/
}